[MESSAGES CONTROL]
disable=too-few-public-methods,too-many-public-methods,line-too-long,too-many-lines,unused-argument,too-many-arguments,too-many-locals,unnecessary-pass,redefined-outer-name,too-many-branches,too-many-nested-blocks,missing-function-docstring,missing-class-docstring,missing-module-docstring

[FORMAT]
good-names=e,f,x
